// styles.scss

// @import 'scss/fonts';
@import 'scss/variables';
@import 'scss/privacy-box';
@import 'scss/toggle-checked';

// Additional styles or global styles can go here

// Example: custom fonts
// .privacy-box {
//   font-family: 'roboto', sans-serif;
// }
